### Imports modules and libs

In [1]:
import pandas as pd 
import numpy as np
from ConvertFile import Convert_File_to_pd
from DataAnalyze import DataAnalyze
from AnalyzeDuplicatedData import AnalyzeDuplicatedData
from DataTransform import DataTransform
from LoadCsvs import LoadCsvs

### Transform CSVs to DFs

In [2]:
Data_frame=Convert_File_to_pd(file_name='Team',name_table='Data',folder_name='ETL-Data-FIFA')

In [3]:
Df=Data_frame.convert_to_dataframe

### Exploratory analysis to investigate the possibility of data cleaning

In [4]:
#Imprimindo o DataFrame
Df

        id  team_api_id  team_fifa_api_id      team_long_name team_short_name
0        1         9987             673.0            KRC Genk             GEN
1        2         9993             675.0        Beerschot AC             BAC
2        3        10000           15005.0    SV Zulte-Waregem             ZUL
3        4         9994            2007.0    Sporting Lokeren             LOK
4        5         9984            1750.0   KSV Cercle Brugge             CEB
..     ...          ...               ...                 ...             ...
294  49479        10190             898.0       FC St. Gallen             GAL
295  49837        10191            1715.0             FC Thun             THU
296  50201         9777             324.0         Servette FC             SER
297  50204         7730            1862.0  FC Lausanne-Sports             LAU
298  51606         7896               NaN              Lugano             LUG

[299 rows x 5 columns]

In [5]:
#Classe responsável pelas análises exploratórias
Results_analysis=DataAnalyze(Df)

#### Detect NaNs

In [6]:
# No objetivo de não ferir a integridade de domínio quando estes dados forem carregados em um bd, o id não pode ter campos nulos ou NaN
Results_analysis.detect_nans(name_column='id')

'lista  indices contendo nans: []'

In [7]:
#Fazend isso para player_api_id 
Results_analysis.detect_nans(name_column='team_api_id')

'lista  indices contendo nans: []'

In [8]:
#Fazend isso para player_fifa_api_id	
Results_analysis.detect_nans(name_column='team_fifa_api_id')

'lista  indices contendo nans: [8, 14, 170, 204, 208, 213, 223, 225, 232, 233, 298]'

#### Detect Data Duplicated

In [9]:
#além disso, é necessário avaliar os registros duplicados quando a coluna não pode contê-los, como é o caso das colunas acima 
Result_dup_id=AnalyzeDuplicatedData(dataframe=Df,name_col_data='id')
Result_dup_team_api_id=AnalyzeDuplicatedData(dataframe=Df,name_col_data='team_api_id')
Result_dup_team_fifa_api_id=AnalyzeDuplicatedData(dataframe=Df,name_col_data='team_fifa_api_id')

In [10]:
Result_dup_id.print_duplicated_data(table_name='Player')
Result_dup_team_api_id.print_duplicated_data(table_name='Player')
Result_dup_team_fifa_api_id.print_duplicated_data(table_name='Player')

a quantidade de dados duplicados da tabela Player  na coluna id são 0
a quantidade de dados duplicados da tabela Player  na coluna team_api_id são 0
a quantidade de dados duplicados da tabela Player  na coluna team_fifa_api_id são 13

In [11]:
Result_dup_team_fifa_api_id.detect_values_data()

[nan, 111560.0, nan, 111429.0, 301.0, nan, nan, nan, nan, nan, nan, nan, nan]

#### Identify Outliers

In [12]:
#Como não existem colunas quantitativas, não é necessário avaliação de outliers

### Analyze  typing

In [13]:
#analisando a tipagem esperada de forma geral
Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                299 non-null    int64
 1   team_api_id       299 non-null    int64
 2   team_fifa_api_id  288 non-null    float64
 3   team_long_name    299 non-null    object
 4   team_short_name   299 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 11.8+ KB

In [14]:
#Como ids sob tipagem numérica são geralmente representados por inteiros,logo é necessário avaliar a coluna team_fifa_api_id por estar como float64

Results_analysis.analyze_typing_expected_number(expected_type_number='int',name_column='team_fifa_api_id')

{0: [673.0, 'same expected value between int and float typing'],
 1: [675.0, 'same expected value between int and float typing'],
 2: [15005.0, 'same expected value between int and float typing'],
 3: [2007.0, 'same expected value between int and float typing'],
 4: [1750.0, 'same expected value between int and float typing'],
 5: [229.0, 'same expected value between int and float typing'],
 6: [674.0, 'same expected value between int and float typing'],
 7: [1747.0, 'same expected value between int and float typing'],
 9: [232.0, 'same expected value between int and float typing'],
 10: [110724.0, 'same expected value between int and float typing'],
 11: [231.0, 'same expected value between int and float typing'],
 12: [546.0, 'same expected value between int and float typing'],
 13: [100081.0, 'same expected value between int and float typing'],
 15: [111560.0, 'same expected value between int and float typing'],
 16: [681.0, 'same expected value between int and float typing'],
 17: [670.0, 'same expected value between int and float typing'],
 18: [680.0, 'same expected value between int and float typing'],
 19: [239.0, 'same expected value between int and float typing'],
 20: [2013.0, 'same expected value between int and float typing'],
 21: [100087.0, 'same expected value between int and float typing'],
 22: [110913.0, 'same expected value between int and float typing'],
 23: [682.0, 'same expected value between int and float typing'],
 24: [111560.0, 'same expected value between int and float typing'],
 25: [11.0, 'same expected value between int and float typing'],
 26: [13.0, 'same expected value between int and float typing'],
 27: [1.0, 'same expected value between int and float typing'],
 28: [109.0, 'same expected value between int and float typing'],
 29: [106.0, 'same expected value between int and float typing'],
 30: [9.0, 'same expected value between int and float typing'],
 31: [19.0, 'same expected value between int and float typing'],
 32: [1917.0, 'same expected value between int and float typing'],
 33: [2.0, 'same expected value between int and float typing'],
 34: [10.0, 'same expected value between int and float typing'],
 35: [7.0, 'same expected value between int and float typing'],
 36: [3.0, 'same expected value between int and float typing'],
 37: [12.0, 'same expected value between int and float typing'],
 38: [18.0, 'same expected value between int and float typing'],
 39: [4.0, 'same expected value between int and float typing'],
 40: [1806.0, 'same expected value between int and float typing'],
 41: [1952.0, 'same expected value between int and float typing'],
 42: [144.0, 'same expected value between int and float typing'],
 43: [5.0, 'same expected value between int and float typing'],
 44: [1790.0, 'same expected value between int and float typing'],
 45: [88.0, 'same expected value between int and float typing'],
 46: [110.0, 'same expected value between int and float typing'],
 47: [1796.0, 'same expected value between int and float typing'],
 48: [1926.0, 'same expected value between int and float typing'],
 49: [1960.0, 'same expected value between int and float typing'],
 50: [15.0, 'same expected value between int and float typing'],
 51: [1792.0, 'same expected value between int and float typing'],
 52: [17.0, 'same expected value between int and float typing'],
 53: [1793.0, 'same expected value between int and float typing'],
 54: [1799.0, 'same expected value between int and float typing'],
 55: [1961.0, 'same expected value between int and float typing'],
 56: [95.0, 'same expected value between int and float typing'],
 57: [1943.0, 'same expected value between int and float typing'],
 58: [1795.0, 'same expected value between int and float typing'],
 59: [57.0, 'same expected value between int and float typing'],
 60: [71.0, 'same expected value between int and float typing'],
 61: [59.0, 'same expected value between int and float typing'],
 62: [210.0, 'same expected value between int and float typing'],
 63: [1738.0, 'same expected value between int and float typing'],
 64: [72.0, 'same expected value between int and float typing'],
 65: [1739.0, 'same expected value between int and float typing'],
 66: [217.0, 'same expected value between int and float typing'],
 67: [66.0, 'same expected value between int and float typing'],
 68: [1809.0, 'same expected value between int and float typing'],
 69: [69.0, 'same expected value between int and float typing'],
 70: [73.0, 'same expected value between int and float typing'],
 71: [1823.0, 'same expected value between int and float typing'],
 72: [65.0, 'same expected value between int and float typing'],
 73: [74.0, 'same expected value between int and float typing'],
 74: [219.0, 'same expected value between int and float typing'],
 75: [226.0, 'same expected value between int and float typing'],
 76: [1805.0, 'same expected value between int and float typing'],
 77: [110456.0, 'same expected value between int and float typing'],
 78: [1819.0, 'same expected value between int and float typing'],
 79: [64.0, 'same expected value between int and float typing'],
 80: [70.0, 'same expected value between int and float typing'],
 81: [111376.0, 'same expected value between int and float typing'],
 82: [111989.0, 'same expected value between int and float typing'],
 83: [378.0, 'same expected value between int and float typing'],
 84: [614.0, 'same expected value between int and float typing'],
 85: [111271.0, 'same expected value between int and float typing'],
 86: [110569.0, 'same expected value between int and float typing'],
 87: [379.0, 'same expected value between int and float typing'],
 88: [58.0, 'same expected value between int and float typing'],
 89: [294.0, 'same expected value between int and float typing'],
 90: [62.0, 'same expected value between int and float typing'],
 91: [68.0, 'same expected value between int and float typing'],
 92: [1530.0, 'same expected value between int and float typing'],
 93: [110316.0, 'same expected value between int and float typing'],
 94: [21.0, 'same expected value between int and float typing'],
 95: [28.0, 'same expected value between int and float typing'],
 96: [32.0, 'same expected value between int and float typing'],
 97: [22.0, 'same expected value between int and float typing'],
 98: [34.0, 'same expected value between int and float typing'],
 99: [485.0, 'same expected value between int and float typing'],
 100: [175.0, 'same expected value between int and float typing'],
 101: [31.0, 'same expected value between int and float typing'],
 102: [1824.0, 'same expected value between int and float typing'],
 103: [166.0, 'same expected value between int and float typing'],
 104: [159.0, 'same expected value between int and float typing'],
 105: [38.0, 'same expected value between int and float typing'],
 106: [162.0, 'same expected value between int and float typing'],
 107: [10029.0, 'same expected value between int and float typing'],
 108: [23.0, 'same expected value between int and float typing'],
 109: [36.0, 'same expected value between int and float typing'],
 110: [1832.0, 'same expected value between int and float typing'],
 111: [160.0, 'same expected value between int and float typing'],
 112: [25.0, 'same expected value between int and float typing'],
 113: [171.0, 'same expected value between int and float typing'],
 114: [169.0, 'same expected value between int and float typing'],
 115: [29.0, 'same expected value between int and float typing'],
 116: [110329.0, 'same expected value between int and float typing'],
 117: [100409.0, 'same expected value between int and float typing'],
 118: [110636.0, 'same expected value between int and float typing'],
 119: [165.0, 'same expected value between int and float typing'],
 120: [110500.0, 'same expected value between int and float typing'],
 121: [10030.0, 'same expected value between int and float typing'],
 122: [111239.0, 'same expected value between int and float typing'],
 123: [110502.0, 'same expected value between int and float typing'],
 124: [39.0, 'same expected value between int and float typing'],
 125: [1838.0, 'same expected value between int and float typing'],
 126: [1842.0, 'same expected value between int and float typing'],
 127: [46.0, 'same expected value between int and float typing'],
 128: [110364.0, 'same expected value between int and float typing'],
 129: [110556.0, 'same expected value between int and float typing'],
 130: [192.0, 'same expected value between int and float typing'],
 131: [203.0, 'same expected value between int and float typing'],
 132: [110374.0, 'same expected value between int and float typing'],
 133: [45.0, 'same expected value between int and float typing'],
 134: [47.0, 'same expected value between int and float typing'],
 135: [189.0, 'same expected value between int and float typing'],
 136: [52.0, 'same expected value between int and float typing'],
 137: [48.0, 'same expected value between int and float typing'],
 138: [1837.0, 'same expected value between int and float typing'],
 139: [44.0, 'same expected value between int and float typing'],
 140: [54.0, 'same expected value between int and float typing'],
 141: [347.0, 'same expected value between int and float typing'],
 142: [55.0, 'same expected value between int and float typing'],
 143: [1843.0, 'same expected value between int and float typing'],
 144: [1848.0, 'same expected value between int and float typing'],
 145: [1844.0, 'same expected value between int and float typing'],
 146: [50.0, 'same expected value between int and float typing'],
 147: [110915.0, 'same expected value between int and float typing'],
 148: [190.0, 'same expected value between int and float typing'],
 149: [112225.0, 'same expected value between int and float typing'],
 150: [200.0, 'same expected value between int and float typing'],
 151: [206.0, 'same expected value between int and float typing'],
 152: [111974.0, 'same expected value between int and float typing'],
 153: [1746.0, 'same expected value between int and float typing'],
 154: [111657.0, 'same expected value between int and float typing'],
 155: [112409.0, 'same expected value between int and float typing'],
 156: [1909.0, 'same expected value between int and float typing'],
 157: [1915.0, 'same expected value between int and float typing'],
 158: [1902.0, 'same expected value between int and float typing'],
 159: [1908.0, 'same expected value between int and float typing'],
 160: [1907.0, 'same expected value between int and float typing'],
 161: [245.0, 'same expected value between int and float typing'],
 162: [1910.0, 'same expected value between int and float typing'],
 163: [635.0, 'same expected value between int and float typing'],
 164: [1903.0, 'same expected value between int and float typing'],
 165: [247.0, 'same expected value between int and float typing'],
 166: [100634.0, 'same expected value between int and float typing'],
 167: [246.0, 'same expected value between int and float typing'],
 168: [100646.0, 'same expected value between int and float typing'],
 169: [650.0, 'same expected value between int and float typing'],
 171: [1913.0, 'same expected value between int and float typing'],
 172: [1906.0, 'same expected value between int and float typing'],
 173: [1904.0, 'same expected value between int and float typing'],
 174: [1905.0, 'same expected value between int and float typing'],
 175: [100651.0, 'same expected value between int and float typing'],
 176: [1971.0, 'same expected value between int and float typing'],
 177: [1914.0, 'same expected value between int and float typing'],
 178: [647.0, 'same expected value between int and float typing'],
 179: [100632.0, 'same expected value between int and float typing'],
 180: [100626.0, 'same expected value between int and float typing'],
 181: [1873.0, 'same expected value between int and float typing'],
 182: [111429.0, 'same expected value between int and float typing'],
 183: [111429.0, 'same expected value between int and float typing'],
 184: [874.0, 'same expected value between int and float typing'],
 185: [1871.0, 'same expected value between int and float typing'],
 186: [1570.0, 'same expected value between int and float typing'],
 187: [111092.0, 'same expected value between int and float typing'],
 188: [111091.0, 'same expected value between int and float typing'],
 189: [301.0, 'same expected value between int and float typing'],
 190: [1564.0, 'same expected value between int and float typing'],
 191: [873.0, 'same expected value between int and float typing'],
 192: [110744.0, 'same expected value between int and float typing'],
 193: [111082.0, 'same expected value between int and float typing'],
 194: [110745.0, 'same expected value between int and float typing'],
 195: [111086.0, 'same expected value between int and float typing'],
 196: [110747.0, 'same expected value between int and float typing'],
 197: [111083.0, 'same expected value between int and float typing'],
 198: [110749.0, 'same expected value between int and float typing'],
 199: [301.0, 'same expected value between int and float typing'],
 200: [111087.0, 'same expected value between int and float typing'],
 201: [110746.0, 'same expected value between int and float typing'],
 202: [112512.0, 'same expected value between int and float typing'],
 203: [110565.0, 'same expected value between int and float typing'],
 205: [236.0, 'same expected value between int and float typing'],
 206: [1889.0, 'same expected value between int and float typing'],
 207: [237.0, 'same expected value between int and float typing'],
 209: [1887.0, 'same expected value between int and float typing'],
 210: [665.0, 'same expected value between int and float typing'],
 211: [1892.0, 'same expected value between int and float typing'],
 212: [1896.0, 'same expected value between int and float typing'],
 214: [1901.0, 'same expected value between int and float typing'],
 215: [744.0, 'same expected value between int and float typing'],
 216: [234.0, 'same expected value between int and float typing'],
 217: [10018.0, 'same expected value between int and float typing'],
 218: [1891.0, 'same expected value between int and float typing'],
 219: [100737.0, 'same expected value between int and float typing'],
 220: [1893.0, 'same expected value between int and float typing'],
 221: [1895.0, 'same expected value between int and float typing'],
 222: [111540.0, 'same expected value between int and float typing'],
 224: [1897.0, 'same expected value between int and float typing'],
 226: [1888.0, 'same expected value between int and float typing'],
 227: [1900.0, 'same expected value between int and float typing'],
 228: [10020.0, 'same expected value between int and float typing'],
 229: [112513.0, 'same expected value between int and float typing'],
 230: [100741.0, 'same expected value between int and float typing'],
 231: [1898.0, 'same expected value between int and float typing'],
 234: [79.0, 'same expected value between int and float typing'],
 235: [86.0, 'same expected value between int and float typing'],
 236: [80.0, 'same expected value between int and float typing'],
 237: [83.0, 'same expected value between int and float typing'],
 238: [82.0, 'same expected value between int and float typing'],
 239: [81.0, 'same expected value between int and float typing'],
 240: [77.0, 'same expected value between int and float typing'],
 241: [620.0, 'same expected value between int and float typing'],
 242: [78.0, 'same expected value between int and float typing'],
 243: [100805.0, 'same expected value between int and float typing'],
 244: [184.0, 'same expected value between int and float typing'],
 245: [181.0, 'same expected value between int and float typing'],
 246: [100804.0, 'same expected value between int and float typing'],
 247: [182.0, 'same expected value between int and float typing'],
 248: [180.0, 'same expected value between int and float typing'],
 249: [631.0, 'same expected value between int and float typing'],
 250: [1754.0, 'same expected value between int and float typing'],
 251: [461.0, 'same expected value between int and float typing'],
 252: [453.0, 'same expected value between int and float typing'],
 253: [479.0, 'same expected value between int and float typing'],
 254: [483.0, 'same expected value between int and float typing'],
 255: [242.0, 'same expected value between int and float typing'],
 256: [243.0, 'same expected value between int and float typing'],
 257: [477.0, 'same expected value between int and float typing'],
 258: [241.0, 'same expected value between int and float typing'],
 259: [456.0, 'same expected value between int and float typing'],
 260: [481.0, 'same expected value between int and float typing'],
 261: [459.0, 'same expected value between int and float typing'],
 262: [1860.0, 'same expected value between int and float typing'],
 263: [449.0, 'same expected value between int and float typing'],
 264: [571.0, 'same expected value between int and float typing'],
 265: [452.0, 'same expected value between int and float typing'],
 266: [462.0, 'same expected value between int and float typing'],
 267: [448.0, 'same expected value between int and float typing'],
 268: [1861.0, 'same expected value between int and float typing'],
 269: [240.0, 'same expected value between int and float typing'],
 270: [573.0, 'same expected value between int and float typing'],
 271: [1742.0, 'same expected value between int and float typing'],
 272: [244.0, 'same expected value between int and float typing'],
 273: [260.0, 'same expected value between int and float typing'],
 274: [100879.0, 'same expected value between int and float typing'],
 275: [1853.0, 'same expected value between int and float typing'],
 276: [457.0, 'same expected value between int and float typing'],
 277: [110832.0, 'same expected value between int and float typing'],
 278: [480.0, 'same expected value between int and float typing'],
 279: [450.0, 'same expected value between int and float typing'],
 280: [468.0, 'same expected value between int and float typing'],
 281: [467.0, 'same expected value between int and float typing'],
 282: [1867.0, 'same expected value between int and float typing'],
 283: [472.0, 'same expected value between int and float typing'],
 284: [322.0, 'same expected value between int and float typing'],
 285: [1714.0, 'same expected value between int and float typing'],
 286: [900.0, 'same expected value between int and float typing'],
 287: [896.0, 'same expected value between int and float typing'],
 288: [434.0, 'same expected value between int and float typing'],
 289: [110770.0, 'same expected value between int and float typing'],
 290: [897.0, 'same expected value between int and float typing'],
 291: [286.0, 'same expected value between int and float typing'],
 292: [435.0, 'same expected value between int and float typing'],
 293: [894.0, 'same expected value between int and float typing'],
 294: [898.0, 'same expected value between int and float typing'],
 295: [1715.0, 'same expected value between int and float typing'],
 296: [324.0, 'same expected value between int and float typing'],
 297: [1862.0, 'same expected value between int and float typing']}

In [15]:
#avaliando se todos os dados seguem com a mesma quantidade de validações entre float e int, considerando também os NaNs

cont_float_and_int=len(Results_analysis.analyze_typing_expected_number(expected_type_number='int',name_column='team_fifa_api_id'))
print(cont_float_and_int+Df['team_fifa_api_id'].isna().sum()==(Df['team_fifa_api_id'].shape[0]))

True

In [16]:
#confirmando se todos os dados estão vindo como str para as colunas team_long_name e team_short_name

Results_analysis.confirm_typing(name_column='team_long_name',type_expected='str')

[]

In [17]:
Results_analysis.confirm_typing(name_column='team_short_name',type_expected='str')

##Como as listas vieram vazias, todos os dados estão coerentes como str

[]

### Data transform

In [18]:
#Instânciando o Df para a classe DataCleaning

Data_cleaning=DataTransform(dataframe_to_transform=Df)

#### Remove(or not) NaNs

In [19]:
# partindo do pressuposto de que as colunas identificadoras (id, team_api_id e team_fifa_api_id)  não podem ter valores NaNs, é preciso remove-los
#Por possuirem valores distintos e não apresentam uma progressão lógica neste caso, além de serem propriamente identificadores

#Logo, assumiremos a remoção, haja vista que a proporção de NaNs próximos ou abaixo de 5 %  servirá como parâmetro para remoção 
Results_analysis.count_nans(name_columns=['id','team_api_id','team_fifa_api_id'])

{'id': 0, 'team_api_id': 0, 'team_fifa_api_id': 3.678929765886288}

In [20]:
#Removendo os NaNs dos team_fifa_api_id

Data_cleaning.remove_nans(name_columns=['team_fifa_api_id'])

        id  team_api_id  team_fifa_api_id      team_long_name team_short_name
0        1         9987             673.0            KRC Genk             GEN
1        2         9993             675.0        Beerschot AC             BAC
2        3        10000           15005.0    SV Zulte-Waregem             ZUL
3        4         9994            2007.0    Sporting Lokeren             LOK
4        5         9984            1750.0   KSV Cercle Brugge             CEB
..     ...          ...               ...                 ...             ...
283  49124        10243             894.0           FC Zürich             ZUR
284  49479        10190             898.0       FC St. Gallen             GAL
285  49837        10191            1715.0             FC Thun             THU
286  50201         9777             324.0         Servette FC             SER
287  50204         7730            1862.0  FC Lausanne-Sports             LAU

[288 rows x 5 columns]

#### Remove(or not) Duplicated

In [21]:
#removendo os dados duplicados de team_fifa_api_id

Data_Transf=Data_cleaning.remove_dup(name_columns=['team_fifa_api_id'])

#### Data Typing

In [22]:
#Transformando a coluna Team_fifa_api_id em int
Data_Transf=Data_cleaning.transf_typing(name_columns=['team_fifa_api_id'],type_expected='int')

### Load CSV

In [23]:
Df_load=LoadCsvs(dataframe=Data_Transf,new_folder='Load_csvs',name_dataframe='Team',folder_name=Data_frame.folder_name)

In [24]:
Df_load.load_csv