### Imports modules and libs

In [1]:
import pandas as pd 
import numpy as np
from ConvertFile import Convert_File_to_pd
from DataAnalyze import DataAnalyze
from AnalyzeDuplicatedData import AnalyzeDuplicatedData
from DataTransform import DataTransform
from LoadCsvs import LoadCsvs

### Transform CSVs to DFs

In [2]:
Data_frame=Convert_File_to_pd(file_name='League',name_table='Data',folder_name='ETL-Data-FIFA')

In [3]:
Df=Data_frame.convert_to_dataframe

### Exploratory analysis to investigate the possibility of data cleaning

In [4]:
#Imprimindo o DataFrame
Df

       id  country_id                      name
0       1           1    Belgium Jupiler League
1   44560       44560       Brasileirão Série A
2    1729        1729    England Premier League
3    4769        4769            France Ligue 1
4    7809        7809     Germany 1. Bundesliga
5   10257       10257             Italy Serie A
6   51220       51220            Liga da Angola
7   13274       13274    Netherlands Eredivisie
8   15722       15722        Poland Ekstraklasa
9   17642       17642  Portugal Liga ZON Sagres
10  19694       19694   Scotland Premier League
11  21518       21518           Spain LIGA BBVA
12  24558       24558  Switzerland Super League

In [5]:
#Classe responsável pelas análises exploratórias
Results_analysis=DataAnalyze(Df)

#### Detect NaNs

In [6]:
# No objetivo de não ferir a integridade de domínio quando estes dados forem carregados em um bd, o id não pode ter campos nulos ou NaN
Results_analysis.detect_nans(name_column='id')

'lista  indices contendo nans: []'

In [7]:
#Fazendo essa análise para a coluna country_id
Results_analysis.detect_nans(name_column='country_id')

'lista  indices contendo nans: []'

In [8]:
#Fazendo essa análise para a coluna name
Results_analysis.detect_nans(name_column='name')

'lista  indices contendo nans: []'

#### Detect Data Duplicated

In [9]:
#além disso, é necessário avaliar os registros duplicados quando a coluna não pode contê-los, como é o caso do ID também
Result_dup_id=AnalyzeDuplicatedData(dataframe=Df,name_col_data='id')

In [10]:
#Avaliando a quantidade de ids duplicados
Result_dup_id.print_duplicated_data(table_name='Country')

a quantidade de dados duplicados da tabela Country  na coluna id são 0

In [11]:
#Fazendo isso para coluna country_id e name
Result_dup_country_id=AnalyzeDuplicatedData(dataframe=Df,name_col_data='country_id')
Result_dup_name=AnalyzeDuplicatedData(dataframe=Df,name_col_data='name')

In [12]:
Result_dup_country_id.print_duplicated_data(table_name='Country')
Result_dup_name.print_duplicated_data(table_name='Country')

a quantidade de dados duplicados da tabela Country  na coluna country_id são 0
a quantidade de dados duplicados da tabela Country  na coluna name são 0

#### Identify Outliers

In [13]:
#Como a coluna ID e country_id são de identificação, não há valores que possam determinar um outlier, a não ser que eles fossem autoincrementais
#Porém, não é o caso, conforme pode ser visto acima no Df

### Analyze  typing

In [14]:
#analisando a tipagem esperada de forma geral
Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          13 non-null     int64
 1   country_id  13 non-null     int64
 2   name        13 non-null     object
dtypes: int64(2), object(1)
memory usage: 440.0+ bytes

In [15]:
#Como no método info a coluna name é object e object pode conter qualquer tipagem, então é necessário investigar se todas são Strings para serem Name
Results_analysis.confirm_typing(name_column='name',type_expected='str')

#Já os demais devem ser mantidos

[]

### Data transform

In [16]:
#Como não houve acontecimento de NaNs, dados duplicados, outliers e tipagens fora do escopo, o Df já está devidamente tratado
Data_Transf=Df.copy()

In [17]:
Data_Transf

       id  country_id                      name
0       1           1    Belgium Jupiler League
1   44560       44560       Brasileirão Série A
2    1729        1729    England Premier League
3    4769        4769            France Ligue 1
4    7809        7809     Germany 1. Bundesliga
5   10257       10257             Italy Serie A
6   51220       51220            Liga da Angola
7   13274       13274    Netherlands Eredivisie
8   15722       15722        Poland Ekstraklasa
9   17642       17642  Portugal Liga ZON Sagres
10  19694       19694   Scotland Premier League
11  21518       21518           Spain LIGA BBVA
12  24558       24558  Switzerland Super League

### Load CSV

In [20]:
Df_load=LoadCsvs(dataframe=Data_Transf,new_folder='Load_csvs',name_dataframe='League',folder_name=Data_frame.folder_name)

In [21]:
Df_load.load_csv