### Imports modules and libs

In [1]:
import pandas as pd 
import numpy as np
from ConvertFile import Convert_File_to_pd
from DataAnalyze import DataAnalyze
from AnalyzeDuplicatedData import AnalyzeDuplicatedData
from DataTransform import DataTransform
import re 
from cmath import isnan

### Transform CSVs to DFs

In [2]:
Data_frame=Convert_File_to_pd(file_name='Match',name_table='Data',folder_name='ETL-Data-FIFA')

In [3]:
Df=Data_frame.convert_to_dataframe

### Exploratory analysis to investigate the possibility of data cleaning

In [4]:
#Imprimindo o DataFrame
Df

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25975,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25976,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25977,25978,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Premises

In [5]:
#Como são 115 colunas, é necessário prioriza-las 

for col in Df.columns:
    print(col,end=' , ')

id , country_id , league_id , season , stage , date , match_api_id , home_team_api_id , away_team_api_id , home_team_goal , away_team_goal , home_player_X1 , home_player_X2 , home_player_X3 , home_player_X4 , home_player_X5 , home_player_X6 , home_player_X7 , home_player_X8 , home_player_X9 , home_player_X10 , home_player_X11 , away_player_X1 , away_player_X2 , away_player_X3 , away_player_X4 , away_player_X5 , away_player_X6 , away_player_X7 , away_player_X8 , away_player_X9 , away_player_X10 , away_player_X11 , home_player_Y1 , home_player_Y2 , home_player_Y3 , home_player_Y4 , home_player_Y5 , home_player_Y6 , home_player_Y7 , home_player_Y8 , home_player_Y9 , home_player_Y10 , home_player_Y11 , away_player_Y1 , away_player_Y2 , away_player_Y3 , away_player_Y4 , away_player_Y5 , away_player_Y6 , away_player_Y7 , away_player_Y8 , away_player_Y9 , away_player_Y10 , away_player_Y11 , home_player_1 , home_player_2 , home_player_3 , home_player_4 , home_player_5 , home_player_6 , home_player_7 , home_player_8 , home_player_9 , home_player_10 , home_player_11 , away_player_1 , away_player_2 , away_player_3 , away_player_4 , away_player_5 , away_player_6 , away_player_7 , away_player_8 , away_player_9 , away_player_10 , away_player_11 , goal , shoton , shotoff , foulcommit , card , cross , corner , possession , B365H , B365D , B365A , BWH , BWD , BWA , IWH , IWD , IWA , LBH , LBD , LBA , PSH , PSD , PSA , WHH , WHD , WHA , SJH , SJD , SJA , VCH , VCD , VCA , GBH , GBD , GBA , BSH , BSD , BSA ,

In [6]:
#Para dar prioridade, os campos dos players, assim como as siglas contendo as 3 letras maiusculas serão removidos, pois tem campos acima que retraram 
#estatisticas de partidas, assim como os ids que irão servir para referenciar outras tabelas 

#Para o caso dos players, criou-se dois vetores que logicamente terão os mesmos tamanhos, já que o número dos jogadores de casa devem ser os mesmos dos visitantes
ls_col=Df.columns.tolist()
arra_home_p=list(Df.columns.str.startswith('home_player_'))
arra_away_p=list(Df.columns.str.startswith('away_player_'))

#Olhando para lista acima, percebe-se que o padrão é de 3 letras maisculas ou 4 com 365
#Seria possível de fazer uma reg expression para detectar, mas para ficar mais simples é só identificar o indice do B365H, que depois dele todos serão evitados
#Como existem Falses nas condições lógicas abaixo, esse vetor original considerado sera deslocado, logo subtraindo os Trues, teremos o vetor filtrado

ls_fin=[ls_col[a] for a in range(len(arra_home_p)) if arra_home_p[a]==False and arra_away_p[a]==False][:ls_col.index('B365H')-sum(arra_home_p+arra_away_p)]

In [7]:
dici_updated={}

for s in ls_fin:
    v=Df[s]
    dici_updated[s]=v

Df=pd.DataFrame(dici_updated)

In [8]:
Df

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,goal,shoton,shotoff,foulcommit,card,cross,corner,possession
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25975,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25976,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25977,25978,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Classe responsável pelas análises exploratórias
Results_analysis=DataAnalyze(Df)

#### Detect NaNs

In [10]:
#Avaliando a proporção de NaNs em todos os campos
Results_analysis.count_nans(name_columns=list(Df.columns))

{'id': 0,
 'country_id': 0,
 'league_id': 0,
 'season': 0,
 'stage': 0,
 'date': 0,
 'match_api_id': 0,
 'home_team_api_id': 0,
 'away_team_api_id': 0,
 'home_team_goal': 0,
 'away_team_goal': 0,
 'goal': 45.27502983178721,
 'shoton': 45.27502983178721,
 'shotoff': 45.27502983178721,
 'foulcommit': 45.27502983178721,
 'card': 45.27502983178721,
 'cross': 45.27502983178721,
 'corner': 45.27502983178721,
 'possession': 45.27502983178721}

##### Observations

In [11]:
#Percebe-se que as ultimas colunas referentes aos acontecimentos da partida tem o mesmo valor

In [12]:
##visando investigar se os dados em não NaN são os mesmos
#Como a coluna goal já existe como info em outros campos anteriores, será avaliado para os demais campos
#Fora isso, pegaremos somente as 4 últimas colunas para não gerar ainda mais complexidade nas futuras inferências

dici_not_nans={}
r=list(Df.columns)[15:]
for t in r:
    temp=Df[t].notna()
    q=[Df[t][x] for x in range(temp.shape[0]) if temp[x]]
    dici_not_nans[t]=q


Df_temp=pd.DataFrame(dici_not_nans)

In [13]:
Df_temp

,card,cross,corner,possession
0,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>56</comment><event...
1,<card />,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>65</comment><event...
2,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>45</comment><event...
3,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>50</comment><event...
4,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><corners>1</corners></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>51</comment><event...
...,...,...,...,...
14212,<card><value><comment>y</comment><stats><ycard...,<cross />,<corner />,<possession />
14213,<card><value><comment>y</comment><stats><ycard...,<cross />,<corner />,<possession />
14214,<card><value><comment>y</comment><stats><ycard...,<cross />,<corner />,<possession />
14215,<card><value><comment>y</comment><stats><ycard...,<cross />,<corner />,<possession />
14216,<card><value><comment>y</comment><stats><ycard...,<cross />,<corner />,<possession />

In [14]:
#percebe-se que os dados tem uma estrutura de marcação <> vide html
#Portanto, é preciso investigar cada coluna para como ela será decriptada

In [15]:
#percebe-se abaixo que é possível extrair informações posteriores a respeito de tempo, o time em que executou algo e os jogadores
#Todavia, para não estabelecer mais complexidade à tabela, os dados serão ramificados em outra(s) colunas, seguindo as estratégias:

#Para coluna foulcommit, ramificação em duas colunas da quantidade de faltas cometidas pelo time da casa e pelo time visitante
#Vendo uma amostra do dado, percebe-se que há uma repetição justamente quando se encerra a tag value </value>, assim
ds={}
# sample=Df['foulcommit'].notna()
for z in range((Df.shape[0])):
    if isinstance(Df['foulcommit'][z],str):
        home_team=Df['home_team_api_id'][z]
        away_team=Df['away_team_api_id'][z]
            


        var_dec=(Df['foulcommit'][z].split("</value><value><stats>"))
        rgx="((<team>)[0-9]+(</team>))"

        cont_home,cont_away=0,0
        for s in var_dec:
            q=re.search(rgx,s)
            if q != None:
                
                q=q.span()
                u=(q[0]+len(("<team>")),q[1]-len(("</team>")))
                value=s[u[0]:u[1]]
            
                if value == str(home_team): cont_home+=1
                else: cont_away+=1
              
        ds[z]={"quant_home_team_foul_commit":cont_home,"quant_away_team_foul_commit":cont_away}
       
    else:
        ds[z]={"quant_home_team_foul_commit":0,"quant_away_team_foul_commit":0}

25979

#### Detect Data Duplicated

In [17]:
#além disso, é necessário avaliar os registros duplicados quando a coluna não pode contê-los, como é o caso do ID também
Result_dup_id=AnalyzeDuplicatedData(dataframe=Df,name_col_data='id')

In [18]:
#Avaliando a quantidade de ids duplicados
Result_dup_id.print_duplicated_data(table_name='Country')

a quantidade de dados duplicados da tabela Country  na coluna id são 0

In [19]:
#Fazendo isso para coluna country_id e name
Result_dup_country_id=AnalyzeDuplicatedData(dataframe=Df,name_col_data='country_id')
Result_dup_name=AnalyzeDuplicatedData(dataframe=Df,name_col_data='name')

KeyError: 'name'

In [ ]:
Result_dup_country_id.print_duplicated_data(table_name='Country')
Result_dup_name.print_duplicated_data(table_name='Country')

#### Identify Outliers

In [ ]:
#Como a coluna ID e country_id são de identificação, não há valores que possam determinar um outlier, a não ser que eles fossem autoincrementais
#Porém, não é o caso, conforme pode ser visto acima no Df

### Analyze  typing

In [ ]:
#analisando a tipagem esperada de forma geral
Df.info()

In [ ]:
#Como no método info a coluna name é object e object pode conter qualquer tipagem, então é necessário investigar se todas são Strings para serem Name
Results_analysis.confirm_typing(name_column='name',type_expected='str')

#Já os demais devem ser mantidos

### Data transform

In [ ]:
#Como não houve acontecimento de NaNs, dados duplicados, outliers e tipagens fora do escopo, o Df já está devidamente tratado
Data_Transf=Df.copy()

In [ ]:
Data_Transf