### Imports modules and libs

In [1]:
import pandas as pd 
import numpy as np
from ConvertFile import Convert_File_to_pd
from DataAnalyze import DataAnalyze
from AnalyzeDuplicatedData import AnalyzeDuplicatedData
from DataTransform import DataTransform
from LoadCsvs import LoadCsvs
import json

### Transform CSVs to DFs

In [2]:
Data_frame=Convert_File_to_pd(file_name='Player_Attributes',name_table='Data',folder_name='ETL-Data-FIFA')

In [3]:
Df=Data_frame.convert_to_dataframe

### Exploratory analysis to investigate the possibility of data cleaning

In [4]:
#Imprimindo o DataFrame
Df

        Unnamed: 0                                  Player_Attributes
0                0  {"id": "1", "player_fifa_api_id": "218353", "p...
1                1  {"id": "2", "player_fifa_api_id": "218353", "p...
2                2  {"id": "3", "player_fifa_api_id": "218353", "p...
3                3  {"id": "4", "player_fifa_api_id": "218353", "p...
4                4  {"id": "5", "player_fifa_api_id": "218353", "p...
...            ...                                                ...
183973      183973  {"id": "183974", "player_fifa_api_id": "102359...
183974      183974  {"id": "183975", "player_fifa_api_id": "102359...
183975      183975  {"id": "183976", "player_fifa_api_id": "102359...
183976      183976  {"id": "183977", "player_fifa_api_id": "102359...
183977      183977  {"id": "183978", "player_fifa_api_id": "102359...

[183978 rows x 2 columns]

In [5]:
#Classe responsável pelas análises exploratórias
Results_analysis=DataAnalyze(Df)

#### Obs

In [6]:
#percebe-se que o campo player_attributes está em formato JSON
#é preciso desserializar, com o objetivo de gerar novas colunas a partir de cada chave do JSON

In [7]:
dici_new_cols={}
for k in Df['Player_Attributes']:
    x=json.loads(k)
    for i in x.keys():
        if i not in  dici_new_cols.keys():
            dici_new_cols[i]=[x[i]]
        else:
            dici_new_cols[i].append(x[i])

In [8]:
#Dropando a coluna que não será mais necessária

Df.drop(['Player_Attributes'],axis=1,inplace=True)

In [9]:
for x in dici_new_cols.keys():
    Df[x]=dici_new_cols[x]

In [10]:
Df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [11]:
Df

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183973,183974,102359,39902,2009-08-30 00:00:00,83.0,85.0,right,medium,low,84.0,...,88.0,83.0,22.0,31.0,30.0,9.0,20.0,84.0,20.0,20.0
183974,183975,102359,39902,2009-02-22 00:00:00,78.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183975,183976,102359,39902,2008-08-30 00:00:00,77.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183976,183977,102359,39902,2007-08-30 00:00:00,78.0,81.0,right,medium,low,74.0,...,88.0,53.0,28.0,32.0,30.0,9.0,20.0,73.0,20.0,20.0
183977,183978,102359,39902,2007-02-22 00:00:00,80.0,81.0,right,medium,low,74.0,...,88.0,53.0,38.0,32.0,30.0,9.0,9.0,78.0,7.0,15.0

#### Detect NaNs

In [12]:
# No objetivo de não ferir a integridade de domínio quando estes dados forem carregados em um bd, o id não pode ter campos nulos ou NaN
Results_analysis.detect_nans(name_column='id')

'lista  indices contendo nans: []'

In [13]:
#Fazend isso para player_api_id 
Results_analysis.detect_nans(name_column='player_api_id')

'lista  indices contendo nans: []'

In [14]:
#Fazend isso para player_fifa_api_id	
Results_analysis.detect_nans(name_column='player_fifa_api_id')

'lista  indices contendo nans: []'

#### Detect Data Duplicated

In [15]:
#além disso, é necessário avaliar os registros duplicados quando a coluna não pode contê-los, como é o caso das colunas acima 
Result_dup_id=AnalyzeDuplicatedData(dataframe=Df,name_col_data='id')
Result_dup_player_api_id=AnalyzeDuplicatedData(dataframe=Df,name_col_data='player_api_id')
Result_dup_player_fifa_api_id=AnalyzeDuplicatedData(dataframe=Df,name_col_data='player_fifa_api_id')

In [16]:
Result_dup_id.print_duplicated_data(table_name='Player')
Result_dup_player_api_id.print_duplicated_data(table_name='Player')
Result_dup_player_fifa_api_id.print_duplicated_data(table_name='Player')

a quantidade de dados duplicados da tabela Player  na coluna id são 0
a quantidade de dados duplicados da tabela Player  na coluna player_api_id são 172918
a quantidade de dados duplicados da tabela Player  na coluna player_fifa_api_id são 172916

#### Identify Outliers

In [20]:
#Analisando as colunas cujos o tipo variável é continua
# os valores para as esses colunas podem ir de 0 a 100, pois são parâmetros relacionados aos atributos do jogador
list_att=Df.columns.tolist()

In [24]:
list_att_cont_cols=list_att[list_att.index("overall_rating"):list_att.index("overall_rating")+2]+list_att[list_att.index("crossing"):]

In [ ]:
#Fazendo isso utilizando IQR

In [26]:
for col in list_att_cont_cols:
    outliers=Results_analysis.identify_outliers_IQR(name_column=col)
    print(outliers)

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

### Analyze  typing

In [ ]:
#analisando a tipagem esperada de forma geral
Df.info()

In [ ]:
#Analisando os dados, todos fornecerem a tipagem esperada para eventualmente serem inseridos no bd
#Exceto na coluna de birthday, onde é necessário avaliar  se a estrutura(formato) da data corresponde aos padrãoes de data

Results_analysis.analyze_typing_expected_timestamp(name_column='birthday')

In [ ]:
#Fora a coluna de name também

Results_analysis.confirm_typing(name_column='player_name',type_expected='str')

#Como a lista veio vazia, todos os dados estão coerentes como str

### Data transform

In [ ]:
#Como não houve acontecimento de NaNs, dados duplicados, outliers e tipagens fora do escopo, o Df já está devidamente tratado
Data_Transf=Df.copy()

In [ ]:
Data_Transf