### Imports modules and libs

In [1]:
import pandas as pd 
import numpy as np
from ConvertFile import Convert_File_to_pd
from DataAnalyze import DataAnalyze
from Analyze_Duplicated_Ids import Duplicated_Ids

### Transform CSVs to DFs

In [2]:
Data_frame=Convert_File_to_pd(file_name='Country',name_table='Data',folder_name='ETL-Data-FIFA')

In [3]:
Df=Data_frame.convert_to_dataframe

### exploratory analysis and Data processing

In [4]:
#Imprimindo o DataFrame
Df

         id         name
0       1.0      Belgium
1    1729.0      England
2    4769.0       France
3    7809.0      Germany
4   10257.0        Italy
5   13274.0  Netherlands
6   15722.0       Poland
7   17642.0     Portugal
8   19694.0     Scotland
9   21518.0        Spain
10  24558.0  Switzerland
11      1.0      Bélgica
12   1729.0   Inglaterra
13   4769.0       França
14   7809.0     Alemanha
15  10257.0       Itália
16      0.0          NaN
17      NaN          NaN

In [5]:
#Classe responsável pelas análises exploratórias
Results_analysis=DataAnalyze(Df)

In [6]:
# No objetivo de não ferir a integridade de domínio quando estes dados forem carregados em um bd, o id não pode ter campos nulos ou NaN
Results_analysis.detect_nans(name_column='id')

'lista  indices contendo nans: [17]'

In [7]:
#além disso, é necessário avaliar os registros duplicados quando a coluna nao pode contê-los, como é o caso do ID também
Result_dup=Duplicated_Ids(dataframe=Df,nome_col_id='id')

In [8]:
#Avaliando a quantidade de ids duplicados
Result_dup.print_duplicated_ids(nome_da_tabela='Country')

a quantidade de ids duplicados da tabela Country são 5

In [9]:
Result_dup.detect_indexes_ids()

{11: [0, 1.0],
 12: [1, 1729.0],
 13: [2, 4769.0],
 14: [3, 7809.0],
 15: [4, 10257.0]}

In [10]:
#Agrupando os indices em que os dados estão duplicados
Result_dup.grouping_indexes()

{1.0: [0], 1729.0: [1], 4769.0: [2], 7809.0: [3], 10257.0: [4]}

In [11]:
#Agora vendo somente os valores, sem os indices
Result_dup.detect_values_ids()

[1.0, 1729.0, 4769.0, 7809.0, 10257.0]

In [12]:
#Detectando valores discreptantes
Results_analysis.identify_outliers('id')

{}

In [13]:
#analisando a tipagem esperada
Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      17 non-null     float64
 1   name    16 non-null     object
dtypes: float64(1), object(1)
memory usage: 416.0+ bytes

In [14]:
Results_analysis.analyze_typing_expected_number(expected_type_number='int',name_column='id')

{17: [nan, 'same expected value between int and float typing']}