### Imports modules and libs

In [1]:
import pandas as pd 
import numpy as np
from ConvertFile import Convert_File_to_pd
from DataAnalyze import DataAnalyze
from AnalyzeDuplicatedData import AnalyzeDuplicatedData
from DataTransform import DataTransform
from LoadCsvs import LoadCsvs

### Transform CSVs to DFs

In [2]:
Data_frame=Convert_File_to_pd(file_name='Player',name_table='Data',folder_name='ETL-Data-FIFA')

In [3]:
Df=Data_frame.convert_to_dataframe

### Exploratory analysis to investigate the possibility of data cleaning

In [4]:
#Imprimindo o DataFrame
Df

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
...,...,...,...,...,...,...,...
11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168
11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176
11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154
11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172
11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176

In [5]:
#Classe responsável pelas análises exploratórias
Results_analysis=DataAnalyze(Df)

#### Detect NaNs

In [6]:
# No objetivo de não ferir a integridade de domínio quando estes dados forem carregados em um bd, o id não pode ter campos nulos ou NaN
Results_analysis.detect_nans(name_column='id')

'lista  indices contendo nans: []'

In [7]:
#Fazend isso para player_api_id 
Results_analysis.detect_nans(name_column='player_api_id')

'lista  indices contendo nans: []'

In [8]:
#Fazend isso para player_fifa_api_id	
Results_analysis.detect_nans(name_column='player_fifa_api_id')

'lista  indices contendo nans: []'

#### Detect Data Duplicated

In [9]:
#além disso, é necessário avaliar os registros duplicados quando a coluna não pode contê-los, como é o caso das colunas acima 
Result_dup_id=AnalyzeDuplicatedData(dataframe=Df,name_col_data='id')
Result_dup_player_api_id=AnalyzeDuplicatedData(dataframe=Df,name_col_data='player_api_id')
Result_dup_player_fifa_api_id=AnalyzeDuplicatedData(dataframe=Df,name_col_data='player_fifa_api_id')

In [10]:
Result_dup_id.print_duplicated_data(table_name='Player')
Result_dup_player_api_id.print_duplicated_data(table_name='Player')
Result_dup_player_fifa_api_id.print_duplicated_data(table_name='Player')

a quantidade de dados duplicados da tabela Player  na coluna id são 0
a quantidade de dados duplicados da tabela Player  na coluna player_api_id são 0
a quantidade de dados duplicados da tabela Player  na coluna player_fifa_api_id são 0

#### Identify Outliers

In [11]:
#Como peso e altura são variáveis quantitativas contínuas, ou seja, permitem somente valores em uma escala contínua (na reta real)
#É necessário analisa-las

##### Height

In [12]:
#Analisando pelo modelo estatístico  do Z-Score modificado a altura
Results_analysis.identify_outliers_z_score_mod(name_column='height')

{}

In [13]:
#Pelo IQR
Results_analysis.identify_outliers_IQR(name_column='height')

[165.1,
 200.66,
 198.12,
 165.1,
 165.1,
 165.1,
 165.1,
 165.1,
 165.1,
 198.12,
 198.12,
 162.56,
 198.12,
 165.1,
 165.1,
 165.1,
 200.66,
 162.56,
 198.12,
 198.12,
 203.2,
 198.12,
 165.1,
 165.1,
 198.12,
 198.12,
 165.1,
 203.2,
 198.12,
 200.66,
 198.12,
 200.66,
 160.02,
 165.1,
 165.1,
 162.56,
 198.12,
 165.1,
 198.12,
 198.12,
 198.12,
 203.2,
 198.12,
 162.56,
 200.66,
 162.56,
 165.1,
 165.1,
 198.12,
 198.12,
 165.1,
 165.1,
 198.12,
 198.12,
 165.1,
 165.1,
 198.12,
 198.12,
 165.1,
 165.1,
 198.12,
 165.1,
 198.12,
 165.1,
 198.12,
 157.48,
 198.12,
 165.1,
 203.2,
 198.12,
 198.12,
 198.12,
 203.2,
 198.12,
 200.66,
 208.28,
 203.2,
 165.1,
 198.12,
 198.12,
 165.1,
 198.12,
 165.1,
 162.56,
 165.1,
 198.12,
 198.12,
 198.12,
 198.12,
 165.1,
 165.1,
 165.1,
 165.1,
 198.12,
 198.12,
 165.1,
 160.02,
 165.1,
 198.12,
 198.12,
 198.12,
 203.2,
 198.12,
 165.1,
 162.56,
 203.2,
 165.1,
 165.1,
 165.1,
 165.1,
 198.12,
 200.66,
 198.12,
 203.2,
 162.56,
 198.12,
 198.12,
 165.1,
 200.66,
 165.1,
 165.1,
 165.1,
 165.1,
 162.56,
 165.1,
 198.12,
 198.12,
 165.1,
 165.1,
 165.1,
 165.1,
 198.12,
 198.12,
 203.2,
 198.12,
 165.1,
 198.12,
 165.1,
 198.12,
 165.1,
 203.2,
 165.1,
 165.1,
 198.12,
 198.12,
 165.1,
 200.66,
 198.12,
 165.1,
 198.12,
 165.1,
 165.1,
 198.12,
 203.2,
 198.12,
 165.1]

In [14]:
#Percebe-se logo que somente o  IQR identificou mais valores atípico(outliers) na série 
#Porém analisando cada um, todos encontram-se na faixa coerente de alturas

##### Weight

In [15]:
#Analisando pelo modelo estatístico  do Z-Score modificado  para o peso
Results_analysis.identify_outliers_z_score_mod(name_column='weight')

{44: [3.7472222222222222, 218.0],
 1298: [3.5973333333333333, 216.0],
 1595: [3.8971111111111107, 220.0],
 1819: [3.8971111111111107, 220.0],
 3026: [3.7472222222222222, 218.0],
 4408: [4.271833333333333, 225.0],
 4659: [3.5973333333333333, 216.0],
 4879: [4.421722222222222, 227.0],
 5168: [3.5973333333333333, 216.0],
 5446: [-3.822166666666666, 117.0],
 5901: [5.620833333333334, 243.0],
 5969: [3.8971111111111107, 220.0],
 6762: [3.8971111111111107, 220.0],
 6843: [-3.522388888888889, 121.0],
 9900: [3.5973333333333333, 216.0],
 10297: [5.620833333333334, 243.0],
 10371: [3.5973333333333333, 216.0],
 10816: [3.7472222222222222, 218.0],
 10938: [-3.522388888888889, 121.0]}

In [16]:
Results_analysis.identify_outliers_IQR(name_column='weight')

[212,
 218,
 126,
 212,
 214,
 126,
 212,
 212,
 128,
 216,
 123,
 220,
 214,
 220,
 128,
 212,
 212,
 214,
 212,
 123,
 212,
 218,
 126,
 212,
 128,
 212,
 214,
 128,
 225,
 216,
 212,
 227,
 212,
 216,
 117,
 212,
 128,
 243,
 220,
 212,
 220,
 121,
 128,
 126,
 126,
 212,
 212,
 128,
 214,
 214,
 212,
 214,
 216,
 128,
 243,
 128,
 216,
 128,
 218,
 121,
 212]

In [17]:
#Assim como a altura, não existem dados distoantes da realidade para o peso, mesmo avaliando nesses dois módelos de outliers

### Analyze  typing

In [18]:
#analisando a tipagem esperada de forma geral
Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11060 entries, 0 to 11059
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  11060 non-null  int64
 1   player_api_id       11060 non-null  int64
 2   player_name         11060 non-null  object
 3   player_fifa_api_id  11060 non-null  int64
 4   birthday            11060 non-null  object
 5   height              11060 non-null  float64
 6   weight              11060 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 605.0+ KB

In [19]:
#Analisando os dados, todos fornecerem a tipagem esperada para eventualmente serem inseridos no bd
#Exceto na coluna de birthday, onde é necessário avaliar  se a estrutura(formato) da data corresponde aos padrãoes de data

Results_analysis.analyze_typing_expected_timestamp(name_column='birthday')

'all the data are in the date structure'

In [20]:
#Fora a coluna de name também

Results_analysis.confirm_typing(name_column='player_name',type_expected='str')

#Como a lista veio vazia, todos os dados estão coerentes como str

[]

### Data transform

In [21]:
#Como não houve acontecimento de NaNs, dados duplicados, outliers e tipagens fora do escopo, o Df já está devidamente tratado
Data_Transf=Df.copy()

In [22]:
Data_Transf

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
...,...,...,...,...,...,...,...
11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168
11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176
11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154
11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172
11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176

### Load CSV

In [24]:
Df_load=LoadCsvs(dataframe=Data_Transf)

In [26]:
Df_load.load_csv(name_dataframe='Player',new_folder='Load_csvs')