### Imports modules and libs

In [1]:
import pandas as pd 
import numpy as np
from ConvertFile import Convert_File_to_pd
from DataAnalyze import DataAnalyze
from AnalyzeDuplicatedData import AnalyzeDuplicatedData
from DataTransform import DataTransform

### Transform CSVs to DFs

In [2]:
Data_frame=Convert_File_to_pd(file_name='Player_Attributes',name_table='Data',folder_name='ETL-Data-FIFA')

In [3]:
Df=Data_frame.convert_to_dataframe

### Exploratory analysis to investigate the possibility of data cleaning

In [4]:
#Imprimindo o DataFrame
Df

        Unnamed: 0                                  Player_Attributes
0                0  {"id": "1", "player_fifa_api_id": "218353", "p...
1                1  {"id": "2", "player_fifa_api_id": "218353", "p...
2                2  {"id": "3", "player_fifa_api_id": "218353", "p...
3                3  {"id": "4", "player_fifa_api_id": "218353", "p...
4                4  {"id": "5", "player_fifa_api_id": "218353", "p...
...            ...                                                ...
183973      183973  {"id": "183974", "player_fifa_api_id": "102359...
183974      183974  {"id": "183975", "player_fifa_api_id": "102359...
183975      183975  {"id": "183976", "player_fifa_api_id": "102359...
183976      183976  {"id": "183977", "player_fifa_api_id": "102359...
183977      183977  {"id": "183978", "player_fifa_api_id": "102359...

[183978 rows x 2 columns]

In [ ]:
#Classe responsável pelas análises exploratórias
Results_analysis=DataAnalyze(Df)

#### Detect NaNs

In [ ]:
# No objetivo de não ferir a integridade de domínio quando estes dados forem carregados em um bd, o id não pode ter campos nulos ou NaN
Results_analysis.detect_nans(name_column='id')

In [ ]:
#Fazend isso para player_api_id 
Results_analysis.detect_nans(name_column='player_api_id')

In [ ]:
#Fazend isso para player_fifa_api_id	
Results_analysis.detect_nans(name_column='player_fifa_api_id')

#### Detect Data Duplicated

In [ ]:
#além disso, é necessário avaliar os registros duplicados quando a coluna não pode contê-los, como é o caso das colunas acima 
Result_dup_id=AnalyzeDuplicatedData(dataframe=Df,name_col_data='id')
Result_dup_player_api_id=AnalyzeDuplicatedData(dataframe=Df,name_col_data='player_api_id')
Result_dup_player_fifa_api_id=AnalyzeDuplicatedData(dataframe=Df,name_col_data='player_fifa_api_id')

In [ ]:
Result_dup_id.print_duplicated_data(table_name='Player')
Result_dup_player_api_id.print_duplicated_data(table_name='Player')
Result_dup_player_fifa_api_id.print_duplicated_data(table_name='Player')

#### Identify Outliers

In [ ]:
#Como peso e altura são variáveis quantitativas contínuas, ou seja, permitem somente valores em uma escala contínua (na reta real)
#É necessário analisa-las

##### Height

In [ ]:
#Analisando pelo modelo estatístico  do Z-Score modificado a altura
Results_analysis.identify_outliers_z_score_mod(name_column='height')

In [ ]:
#Pelo IQR
Results_analysis.identify_outliers_IQR(name_column='height')

In [ ]:
#Percebe-se logo que somente o  IQR identificou mais valores atípico(outliers) na série 
#Porém analisando cada um, todos encontram-se na faixa coerente de alturas

##### Weight

In [ ]:
#Analisando pelo modelo estatístico  do Z-Score modificado  para o peso
Results_analysis.identify_outliers_z_score_mod(name_column='weight')

In [ ]:
Results_analysis.identify_outliers_IQR(name_column='weight')

In [ ]:
#Assim como a altura, não existem dados distoantes da realidade para o peso, mesmo avaliando nesses dois módelos de outliers

### Analyze  typing

In [ ]:
#analisando a tipagem esperada de forma geral
Df.info()

In [ ]:
#Analisando os dados, todos fornecerem a tipagem esperada para eventualmente serem inseridos no bd
#Exceto na coluna de birthday, onde é necessário avaliar  se a estrutura(formato) da data corresponde aos padrãoes de data

Results_analysis.analyze_typing_expected_timestamp(name_column='birthday')

In [ ]:
#Fora a coluna de name também

Results_analysis.confirm_typing(name_column='player_name',type_expected='str')

#Como a lista veio vazia, todos os dados estão coerentes como str

### Data transform

In [ ]:
#Como não houve acontecimento de NaNs, dados duplicados, outliers e tipagens fora do escopo, o Df já está devidamente tratado
Data_Transf=Df.copy()

In [ ]:
Data_Transf